* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  color: bisque;
  font-size: 5rem;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(37, 144, 71, 1) 0%,
    rgba(0, 171, 199, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.wrapper > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.center {
  position: absolute;
  top: 15rem;
  padding-left: 40px;
}
.textStyle {
  font-family: "Courier New", Courier, monospace;
  width: 15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px 15px;
}
.button {
  background-color: gold;
  border-radius: 15px;
  padding: 5px 15px;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropDownDiv {
  position: absolute;
  top: 20rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.bottomButton {
  position: absolute;
  padding: 15px;
  border-radius: 5rem;
  border: 1px white;
  background-color: #10c516;
  bottom: 15rem;
  cursor: pointer;
  color: wheat;
  font-size: 25px;
}
.bottomButton:active {
  background-color: #0ea713;
}
#addDiv {
  position: absolute;
  padding: 5rem 15rem;
  display: none;
  border-radius: 15px;
  background-color: blueviolet;
}
